<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369665744856-mlq8cspd13lntfqkk6h4hefdfgfdmk5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369665744856-mlq8cspd13lntfqkk6h4hefdfgfdmk5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCNMq2bQ85pkZhy86jVMEy8j1rZBBPicAc</string>
	<key>GCM_SENDER_ID</key>
	<string>369665744856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.tennis2</string>
	<key>PROJECT_ID</key>
	<string>myapp-28179</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-28179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369665744856:ios:01e54120264340ec831cad</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-28179-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>